<%= content_tag :tr, id: dom_id(user) do %>
  <td><%= user.name %></td>
  <td>
    <span class="profile-link">
          <%= link_to 'See Profile',  user_path(user), class: 'profile-link' %>
    </span>
  </td>
  
  <td>
    <%= link_to 'Add Friend', [:new, :friendship, id: user], class:"btn-green", remote: true unless current_user.has_friendship?(user) %>
    <%# link_to 'Add Friend', new_friendship_path(id: user), remote: true %>
    <%= link_to 'Accept Request', [:friendships, id: user], class:"btn-blue", method: :post, remote: true if current_user.requested_friends_with?(user) %>
  
    <%= link_to 'Remove Request', [:friendship, id: user], class:"btn-orange", method: :delete, remote: true if current_user.pending_friends_with?(user) %>
    <%= link_to 'Remove Friend', [:friendship, id: user], class:"btn-red", method: :delete, remote: true if current_user.friends_with?(user) %>
    <%= link_to 'ignore request', [:friendship, id: user], class:"btn-red", method: :delete, remote: true if current_user.requested_friends_with?(user) %>
  
   
   </td>
<% end %>